<!DOCTYPE html>
<html lang="eng">
	<head>
		<meta charset = "utf-8">
		<meta http-equiv= "X-UA-Compatible" content= "IE-Edge">
		<meta name = "viewport" content= "width=devicewidth, initial-scale=1">
		<title>Restaurant List</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.css')}}">
  		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styles.css')}}">
	</head>
	<body>
		<div class= "container">
			<div class = "row">
				<div class = "col-md-6">
					<a href="{{url_for('restaurants')}}">
						<img class= "img-responsive" src="{{ url_for('static', filename = 'images/logo.jpg')}}" alt="logo">
					</a>
				</div>
				<div class = "col-md-6">
					<h1 class= "text-right large_heading">{{restaurant.name}}</h1>
				</div>
			</div>
			<div class = "row"><hr></div>
			<div class = "row main_section">
				<div class= "col-md-4"></div>
				<div class="col-md-4">
					{% with messages = get_flashed_messages()%}
					{% if messages %}
					<ul>
						{% for message in messages %}
						<li><strong> {{message}}</strong></li>
						{%endfor%}
					</ul>
					{%endif%}
					{%endwith%}
				</div>
				<div class= "col-md-4"></div>
				<div class = "col-md-12">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Name</th>
								<th>Price</th>
								<th>Description</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{%for item in items%}
							<tr>
								<td>{{item.name}}</td>
								<td>{{item.price}}</td>
								<td>{{item.description}}</td>
								<td><a href="{{url_for('editItem', rest_id = restaurant.id, item_id = item.id)}}" class="btn btn-default">Edit</a> &nbsp</td>
								<td><a href="{{url_for('deleteItem', rest_id = restaurant.id, item_id = item.id)}}" class="btn btn-default">Delete</a></td>
							</tr>
							{%endfor%}
						</tbody>
					</table>
				</div>
			</div>
			<div class = "row"><hr></div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-1"></div>
				<div class="col-md-1"></div>
				<div class="col-md-1"></div>
				<div class="col-md-1"></div>
				<div class="col-md-2 linkSize">
					<a href="{{url_for('newItem', rest_id = restaurant.id)}}">
					Add Item</a>
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-1"></div>
				<div class="col-md-1"></div>
				<div class="col-md-1"></div>
				<div class="col-md-1"></div>
			</div>
			<div class = "row"><hr></div>
		</div> <!-- container-->
	</body>
</html>
